body{
    background: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: rgb(243, 167, 167);
    background: rgba(255, 255, 255, 0);
    margin: 8px;
    margin-top: 0%;
    /* padding: 20PX; */
    /* padding-bottom: 30px; */
    /* box-shadow: 1px 1px 3px lightcoral; */
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(243, 167, 167);
    padding-top: 0%;
}

.p {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;

}

.p-box {
  display: flex;

}

element.style {
    background: lightgray;
    margin: 50px;
    border: 50px;
    border-radius: 10px;
    border-style: solid;
}

.banner {
    /* background-image: url(images/banner.jpeg); */
    background-size: cover;
    text-align: center;
    /* padding: 150px 0; */
    /* vertical-align: middle; */
    vertical-align: text-top;
    padding-top: 0px;
    padding-bottom: 280px;
}

.banner p {
    color: palegoldenrod;
    font-family: 'Open Sans', sans-serif;
}

.list-banner {
  display: flex;

    background-size: cover;
    text-align: left;
    /* vertical-align: text-top; */
    padding-top: 0px;
    /* padding-bottom: 280px; */
}

.list-banner-2 {

  align-items: center;
    background-size: cover;
    text-align: center;
    /* vertical-align: text-top; */
    padding-top: 0px;
    /* padding-bottom: 280px; */
}


.card {
    padding: 20px;
    text-align: center;

}

.card_1 {
  float: left;
  height: 18%;
  width: 18%;
  background: rgba(255, 255, 255, 0);
  margin: 16px;
  padding: 20PX;
  border-radius: 5px;
  box-shadow: 1px 1px 3px lightcoral;
}

.card_2 {
  float: left;
  height: 18%;
  width: 18%;
  background: rgba(255, 255, 255, 0);
  margin: 16px;
  padding: 20PX;
  border-radius: 5px;
  box-shadow: 1px 1px 3px lightcoral;
}

.card_3 {
  float: right;
  height: 18%;
  width: 18%;
  background: rgba(255, 255, 255, 0);
  margin: 16px;
  padding: 20PX;
  border-radius: 5px;
  box-shadow: 1px 1px 3px lightcoral;
}

.card_4 {
  float: right;
  height: 18%;
  width: 18%;
  background: rgba(255, 255, 255, 0);
  margin: 16px;
  padding: 20PX;
  border-radius: 5px;
  box-shadow: 1px 1px 3px lightcoral;
}

/* Card test for category page */
.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.2);
  /* box-shadow: -10px 0px 10px 1px #aaaaaa; */
  display: flex;
  align-items: center;
}



.card-product img {
  height: 100%;
  width: 300  px;
  margin-top: 0%;
  margin-bottom: 28px;
  padding-top: 0%;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  align-items: flex-start;
  margin-left: 5px;
}

.card-product h2 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-top: 0%;
  padding: 16px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* The right side cards */
.card-product-right {
  overflow: hidden;
  height: 300px;
  background: white;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  /* box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.2); */
  box-shadow: -2px 4px 4px 0px  rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-product-right img {
  height: 100%;
  width: 300px;
  margin-top: 0%;
  margin-bottom: 28px;
  padding-top: 0%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
}

.card-product-right h2 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.card-product-right p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-right .card-product-infos {
  padding-top: 0%;
  padding: 16px;
}



.footer {
  clear: both;
  position: relative;
  height: 200px;
}

.display_boxes {
  display: flex;
  justify-content: space-evenly;
}

.main-container {
  /* background-color: white; */
  margin: 20px;
}

.category {
  display: flex;
  justify-content: space-evenlyQ;
  align-items: center;
  padding: 3px;

}

.category h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    color: rgb(243, 167, 167);
    align-items: center;
    margin-left: 30px;
}

.category p {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #787A91;
  margin-left: 30px;
  align-items: center;
  /* margin-right: 40%; */

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border-color: rgb(243, 167, 167);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  /* box-shadow: 5px 5px 5px rgba(0, 255, 0, 0.1); */
  box-shadow: 2px 2px 2px rgb(240, 167, 167);
  transition: box-shadow 0.3ease, transform;
}

.card-category:active {
  box-shadow: 0 0 0#aaa, inset 3px 3px 3px rgb(245, 167, 167);
  transform: translate(6px, 6px);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.sm-icons {
  text-align: right;
}

/* Area for list styles */

.list-cards {
  overflow: hidden;
  /* background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px; */

}

.list-cards > img {
  height: 300px;
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.list-cards h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 18px;
}

.list-cards p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #787A91;
  font-weight: 400px;

}

.list-cards .list-cards-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.intro {
  background: #F9F3DF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider {
  background: rgb(243, 167, 167);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}


.hide {
  background: #F9F3DF;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}


.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgb(243, 167, 167);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background-color: #F9F3DF;
  transition: 0.5s ease-out;
}

.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: rgb(243, 167, 167);
  transition: 0.5s ease-out;
}

.transition-3.is-active {
  top: 0;
}

/* Footer css */

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.fancy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  width: 700px;
  height: 200px;
  background-color: white;
  border: rgba(59,58,58,0.4);
  border-radius: 20px;
  box-shadow: -10px 5px 10px;
  top: 0;
  transition: top ease 0.5;
}

.fancy-button:hover {
  top: -50px
}

.colour-button {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  background-color: rgb(243, 167, 167);
  border-radius: 5px;
  height: 50px;
  width: 500px;
  margin: 5px;
  box-shadow: 2px 2px 2px rgb(240, 167, 167);
  transition: box-shadow 0.3ease, transform;
}

.colour-button h2 {
  color: white;
}

.colour-button:active {
  box-shadow: rgb(245, 167, 167), inset 3px 3px 3px rgb(245, 167, 167);
  transform: translate(6px, 6px);
}
/*
.inline-list {
  display: flex;
  align-items: center;
  justify-content: center;
} */


/* Working on media */

.heading {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;s
}



@media (min-width: 100px) and (max-width: 575px) {
  .heading {
    grid-template-columns: 1fr;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  .heading {
    grid-template-columns: 1fr, 1fr;
  }
}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {
   .heading {
    grid-template-columns: 1fr 1fr;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heading {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .heading {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* To get the heading to align center when on small device */

@media (min-width: 100px) and (max-width: 575px) {
  .list-banner-2 {
    grid-template-columns: 1fr;
  }
}

/* To get the pop menu from "See our menu button */
/*
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none;
} */
/*
.modal-content {
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 16px;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
} */

.pop-up-image {
  display: flex;
  height: 600px;
  width: 400px;
}
